node_modules
env.js
dist
/src/images/favicon.ico
/src/qr
/src/html/tmps
/src/.well-known
/src/images/photos
/src/css/style.css
/src/css/style.css.map
/src/css/fonts
/docs
/createHtml.mjs
.babelrc
access.log
.vscode
.idea
/public_root/*.html
/metrics
